
.list{

     max-width: 791px;
    margin-left:390px; 
    margin-top:32px;
    display:flex;
    flex-wrap: wrap;
   overflow: hidden;
   
}
.list img{
    object-fit:cover;
    width:242px;
    height:161px;
    margin-left:0;
    margin-right:20px;
    margin-bottom:0;
    padding:0;
    /* border:1px solid blue; */
}
span{
    font-size: x-large;
    font-weight: 600;
}
.text-info{
    font-weight:400;
    font-size:large;
    max-width: 242px;
    text-align: center;
    margin-top:-2px;
    margin-bottom: 20px;
    /* border:1px solid red; */
    padding-top:20px;
    padding-bottom:20px;
    background-color: lightcoral;
    color:white;
}
 .text-link {
    color: inherit;
    text-decoration: inherit;
    margin:0;
}
.text-info button{
    background-color: #a96f8f !important;
    padding: 9px 13px;
    font-size: 17px;
}