
.list{
    
    
    max-width: 791px;
    margin-left:290px;
    margin-top:32px;
    display:flex;
    flex-wrap: wrap;
   overflow: hidden;
   
}
.list img{
    object-fit: contain;
    width:160px;
    height:107px;
    margin-left:0;
    margin-right:20px;
    margin-bottom:0;
    padding:0;
    /* border:1px solid blue; */
}
span{
    font-size: x-large;
    font-weight: 600;
}
.text-info{
    font-weight:400;
    font-size:large;
    max-width: 160px;
    text-align: center;
    margin-top:-4px;
    margin-bottom: 20px;
    /* border:1px solid red; */
    padding-top:20px;
    padding-bottom:20px;
    background-color: rgb(215 226 211);
}
 .text-link {
    color: inherit;
    text-decoration: inherit;
    margin:0;
}
